body
{
	background-color: grey;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
}

#gameCanvas
{
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 20px;
	margin-bottom: auto;
	box-shadow: 0px 0px 99px 50px rgba(245,251,251,1);
}

h1 {
	text-align: center;
	color: #FFFFCC;
	font-family: "Bungee", cursive;
	font-size: 48px;
}

footer {
	background-color: #000000;
	width: 100%;
	clear: both;
	margin: 0;
	max-height: 80px;
	color: #66ff8c;
}
footer p {
	font-size: 100%;
	line-height: 100%;
	padding: 2%;
	text-align: center;
	transition: 3s ;
}

footer:hover p{
		transform: scale(1.2);
	}